In [2]:
import requests
import pandas as pd

url = "https://api.themoviedb.org/3/discover/movie"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2NjFhZjg4OWNkYjdhMjFjMThjNDU4NzJmYjc2ZDQwNSIsInN1YiI6IjY2NTljYjhhYzNlNzc2ZmE1MzJkNWI0MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.L7IHwJW2hyLLAJGrwoXVzXtWCp4y65rMw4p8j_erFh8"
}

In [3]:
movie2008 = []

for page in range(1, 10 + 1):
    params = {'page': page, 'primary_release_year': 2008}
    response = requests.get(url, headers=headers, params=params)
    data = response.json()['results']
    movie2008.extend(data)

movie_ids = [movie['id'] for movie in movie2008]

print(movie_ids)

[10764, 1726, 8966, 10681, 9502, 155, 7191, 8681, 7555, 20181, 14574, 10665, 10527, 7446, 9381, 10483, 4922, 13809, 13387, 13523, 12429, 13053, 2454, 3580, 1724, 10358, 11631, 13179, 17581, 13223, 1735, 4564, 11917, 101251, 8204, 14438, 8456, 217, 8247, 10201, 8960, 10661, 10202, 8909, 13078, 8055, 11321, 13051, 13012, 13515, 13004, 11253, 11152, 19173, 13971, 2253, 8065, 8321, 4148, 10761, 12222, 11260, 88751, 12133, 12914, 13027, 15854, 8848, 12405, 11665, 12163, 39207, 9539, 8328, 7459, 8645, 7840, 12184, 10189, 10200, 13510, 7278, 2309, 13279, 12620, 15157, 10529, 13460, 2395, 6557, 14863, 12797, 13944, 13851, 13486, 13184, 13805, 13121, 13253, 13335, 7735, 12180, 13648, 16000, 42384, 1729, 8090, 8390, 18198, 8471, 14405, 13813, 16353, 13812, 8617, 4944, 11887, 13688, 6972, 12162, 13690, 8461, 8676, 17903, 8457, 12085, 8338, 9870, 11127, 12572, 15373, 9029, 12182, 11918, 291860, 13256, 12289, 14059, 1266, 14306, 13490, 13655, 13018, 10186, 13056, 38594, 17436, 15067, 16436, 14248, 8836, 13001, 13291, 8285, 14359, 13389, 47292, 10199, 5038, 12113, 13413, 10885, 16921, 7461, 14878, 13600, 20789, 16763, 7351, 13825, 12837, 22274, 10185, 11671, 12568, 44731, 12412, 14756, 14011, 13009, 13191, 14325, 455575, 13220, 14050, 12193, 14538, 24328, 13150, 13310, 14400, 6968, 14299, 14728, 13855, 20329, 13672, 24528, 15705, 13803]

In [4]:
df = pd.DataFrame(movie_ids)
df.to_csv('movie_2008_id.csv', index=False)

In [14]:
base_url = "https://api.themoviedb.org/3/movie/"
def fetch_movie_details(movie_id):
    response = requests.get(f"{base_url}{movie_id}", headers=headers)
    if response.status_code == 200:
        movie_data = response.json()
        if movie_data.get('budget', 0) > 0:
            return {
                'id' : movie_id,
                'budget': movie_data.get('budget'),
                'genres': movie_data.get('genres'),
                'homepage': movie_data.get('homepage'),
                'imdb_id': movie_data.get('imdb_id'),
                'original_language': movie_data.get('original_language'),
                'original_title': movie_data.get('original_title'),
                'overview': movie_data.get('overview'),
                'popularity': movie_data.get('popularity'),
                'poster_path': movie_data.get('poster_path'),
                'production_companies': movie_data.get('production_companies'),
                'production_countries': movie_data.get('production_countries'),
                'release_date': movie_data.get('release_date'),
                'runtime': movie_data.get('runtime'),
                'spoken_languages': movie_data.get('spoken_languages'),
                'status': movie_data.get('status'),
                'tagline': movie_data.get('tagline'),
                'title': movie_data.get('title'),
                'keywords': fetch_movie_keywords(movie_id),
                'cast': fetch_movie_credits(movie_id, 'cast'),
                'crew': fetch_movie_credits(movie_id, 'crew'),
                'revenue': movie_data.get('revenue')
            }
    return None

def fetch_movie_keywords(movie_id):
    response = requests.get(f"{base_url}{movie_id}/keywords", headers=headers)
    if response.status_code == 200:
        keywords_data = response.json()
        return keywords_data.get('keywords', [])
    return []

def fetch_movie_credits(movie_id, credit_type):
    response = requests.get(f"{base_url}{movie_id}/credits", headers=headers)
    if response.status_code == 200:
        credits_data = response.json()
        return credits_data.get(credit_type, [])
    return []

def fetch_movies_data(movie_ids):
    movie2008Info = []
    count = 0
    
    for movie_id in movie_ids:
        if count >= 100:
            break
        movie_data = fetch_movie_details(movie_id)
        if movie_data and movie_data['budget'] > 0:
            movie2008Info.append(movie_data)
            count += 1
            
    return movie2008Info

In [15]:
movie_data = fetch_movies_data(movie_ids)
movies_df = pd.DataFrame(movie_data)
movies_df.to_csv('movies2008_data.csv', index=False)

In [4]:
df = pd.read_csv('movies2008_data.csv')
df.head()

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,keywords,cast,crew,revenue
0,10764,200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.mgm.com/movies/quantum-of-solace,tt0830515,en,Quantum of Solace,"Betrayed by Vesper, the woman he loved, 007 fi...",174.802,/e3DXXLJHGqMx9yYpXsql1XNljmM.jpg,...,2008-10-29,106,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Quantum of Solace,"[{'id': 1568, 'name': 'undercover'}, {'id': 62...","[{'adult': False, 'gender': 2, 'id': 8784, 'kn...","[{'adult': False, 'gender': 2, 'id': 10782, 'k...",589580482
1,1726,140000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",https://www.marvel.com/movies/iron-man,tt0371746,en,Iron Man,"After being held captive in an Afghan cave, bi...",212.429,/78lPtwv72eTNqFW9COBYI0dWDJa.jpg,...,2008-04-30,126,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Heroes aren't born. They're built.,Iron Man,"[{'id': 539, 'name': 'middle east'}, {'id': 97...","[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 2, 'id': 7626, 'kn...",585174222
2,8966,37000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1099212,en,Twilight,When Bella Swan moves to a small town in the P...,114.642,/3Gkb6jm6962ADUPaCBqzz9CTbn9.jpg,...,2008-11-20,122,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When you can live forever, what do you live for?",Twilight,"[{'id': 6270, 'name': 'high school'}, {'id': 8...","[{'adult': False, 'gender': 1, 'id': 37917, 'k...","[{'adult': False, 'gender': 1, 'id': 19850, 'k...",393616788
3,10681,180000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://www.pixar.com/feature-films/walle/,tt0910970,en,WALL·E,"In the distant future, Earth has become a deso...",110.375,/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg,...,2008-06-22,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,After 700 years of doing what he was built for...,WALL·E,"[{'id': 3700, 'name': 'garbage'}, {'id': 4565,...","[{'adult': False, 'gender': 2, 'id': 670, 'kno...","[{'adult': False, 'gender': 0, 'id': 7988, 'kn...",521311860
4,9502,130000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.kungfupanda.com/,tt0441773,en,Kung Fu Panda,"When the Valley of Peace is threatened, lazy P...",105.179,/wWt4JYXTg5Wr3xBW2phBrMKgp3x.jpg,...,2008-06-04,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Prepare for awesomeness.,Kung Fu Panda,"[{'id': 779, 'name': 'martial arts'}, {'id': 7...","[{'adult': False, 'gender': 2, 'id': 70851, 'k...","[{'adult': False, 'gender': 2, 'id': 57742, 'k...",632091832